.layout {
  padding: 15px;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column; /* Added to arrange items vertically */
  align-items: center;
  justify-content: center;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 8px 30px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  gap: 15px;
  color: white !important;
}

.active-menu-item {
  border: 2px solid white;
  border-radius: 5px;
}

.body {
  width: calc(100% - 260px); /* Adjusted for sidebar width */
}

.header {
  background-color: var(--primary);
  color: white !important;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center; /* Removed !important, use with caution */
}
